.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-bottom: 1px solid var(--border);
  
    .headerLeft {
      display: flex;
      align-items: center;
    }
    img {
      margin-right: 15px;
    }
    h3,
    p {
      margin: 0;
    }
    h3 {
      text-transform: uppercase;
    }
    p {
      color: var(--gray);
    }
  
    li {
      span {
        font-size: 15px;
        font-weight: 600;
        color: var(--darkgrey);
      }
    }
    .headerRight {
      display: flex;
      li {
        display: flex;
        align-items: center;
        margin-left: 30px;
        
        &:hover{
          cursor: pointer;
        }
        
      }
    }
  }